<ion-content>
  <ion-row class="categories-list">
    <ion-col class="category-item deals-category" size="12">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/sample-images/categories/RaffleBanner.png'">
        <app-aspect-ratio [ratio]="{w:75, h:30}">
          <a class="category-anchor" [routerLink]="['/app/categories/deals']">
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item travel-category" size="12">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/sample-images/categories/AuctionImage.png'">
        <app-aspect-ratio [ratio]="{w:75, h:49}">
          <a class="category-anchor" [routerLink]="['/app/categories/travel']"></a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item fashion-category" size="6">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/sample-images/categories/fashion.png'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor" [routerLink]="['/app/categories/fashion']">
            <h2 class="category-title">Fashion</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
   <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let card of [0,1,2,3,4,5,6]" style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-label>Auction #{{ card }}</ion-label>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
      </ion-col>
    </ion-slide>
  </ion-slides>

  </ion-row>
</ion-content>
