<ion-content>
  <ion-row class="categories-list">
    <ion-col class="category-item deals-category" size="12">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/sample-images/categories/RaffleBanner.png'">
        <app-aspect-ratio [ratio]="{w:75, h:30}">
          <a class="category-anchor" [routerLink]="['/app/categories/deals']"></a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <h2>Auction</h2>
    <ion-col class="category-item travel-category" size="12">
      <app-image-shell [display]="'cover'" class="category-cover" animation="spinner" [src]="'./assets/sample-images/categories/AuctionImage.png'">
        <app-aspect-ratio [ratio]="{w:75, h:49}">
          <a class="category-anchor" [routerLink]="['/app/categories/travel']"></a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <h2>Past Auctions</h2>
   <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let card of [0,1,2,3,4,5,6]" style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-img style="pointer-events:none" [src]="'./assets/sample-images/categories/Jordan_1_High_Dark_Mocha.png'"></ion-img>
        <ion-label>Auction {{ card }}</ion-label>
      </ion-col>
    </ion-slide>
  </ion-slides>
  </ion-row>
</ion-content>
