@import "theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  @include hide-scrollbars();

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }
  
  .travel-category {
    --page-category-background: #00AFFF;
    --page-category-background-rgb: 0,175,255;
  }

  .fashion-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203,50,143;
  }

  .food-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235,187,0;
  }

  .deals-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112,223,112;
  }

  .real-estate-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217,69,58;
  }
}
/*
ion-header {
  ion-toolbar,
  ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 5px 10px;
  }

  ion-header {
    .bordered {
      --border-radius: 14px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
      color: black;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
    
    h2 {
      font-weight: 700;
      font-size: 16px;
      color: black;
    }
  }
}

.heading{
  padding: 0px 20px;
  background: #f1f5f8;
  border-radius: 0 0 28px 28px;
}


.slides {
  background: #f1f5f8;
    padding: 4px 10px 20px 10px;
    border-radius: 0 0 28px 28px;
}

ion-card {
  width: 100%;
  box-shadow: none;
  border-radius: 14px;
  padding: 14px;
  background: rgba(255, 255, 255, 1);
  .main {
  //  width: 60px;
  //  height: 60px;
    border-radius: 50px;
    background: white;
    box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 30px;
    }
  }
}
*/

ion-header {
  ion-toolbar,
  ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-header {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
      color: black;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    h2 {
      font-weight: 700;
      font-size: 16px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }
}

ion-content {
  --background: linear-gradient(
    90deg,
    rgba(43, 90, 148, 1) 0%,
    rgba(45, 112, 229, 1) 35%,
    rgba(45, 112, 229, 1) 100%
  );


  .slides {
    background: #f1f5f8;
    padding: 4px 10px 20px 10px;
    border-radius: 0 0 28px 28px;

    ion-item {
      --background: #f1f5f8;
      background: #f1f5f8;
      padding: 0 10px;

      h2 {
        font-weight: 700;
        font-size: 16px;
      }
    }
    ion-progress-bar{
      color:inear-gradient(
        90deg,
        rgba(43, 90, 148, 1) 0%,
        rgba(45, 112, 229, 1) 35%,
        rgba(45, 112, 229, 1) 100%
      );
    }
  }
  .slides2 {
    background:linear-gradient(
      90deg,
      rgba(43, 90, 148, 1) 0%,
      rgba(45, 112, 229, 1) 35%,
      rgba(45, 112, 229, 1) 100%
    );;// #f1f5f8;
    //padding: 6px 6px 0px 0px;
    padding: 4px 10px 20px 10px;
    border-radius: 0 0 28px 28px;

    ion-item {
     // --background: #3670e5;
     // background: #3670e5;
     --background: none;
      padding: 0 10px;

      h2 {
        font-weight: 700;
        font-size: 16px;
        color:#f1f5f8;
      }
    }
  }
  ion-card {
    width: 100%;
    box-shadow: 0px;
    border-radius: 14px;
    padding: 14px;
    background: rgba(255, 255, 255, 1);
    // images for slides
    .main {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30px;
      }
      ion-button{
        background:favorite;
      }
    }
    .files {
      padding-top: 14px;
    }
  }

  ion-card-title {
    color: black;
  }

  .container {
    padding: 6px 20px;
    color: #ffffff;

    ion-item {
      --background: rgba(255, 255, 255, 0.1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: #ffffff;
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        h6 {
          color: rgba(255, 255, 255, 0.66);
        }
      }
    }

    h2 {
      padding-bottom: 8px;
    }
  }
}


