<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="skip-walkthrough-button" fill="clear" (click)="skipWalkthrough()">skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="walkthrough-slides" pager="true" [options]="slidesOptions">
    <ion-slide class="first-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1500, h:849}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/sample-images/walkthrough/walkthrough-soled-logo.png'" [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20V5%20H5%20C25%205%2025%2020%2045%2020%20S65%205%2085%205%20H90%20V0%20Z -->
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 90 20" style="enable-background:new 0 0 90 20;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 V5 H5 C25 5 25 20 45 20 S65 5 85 5 H90 V0 Z"/>
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <br><br><h3 class="info-title">Welcome to SoleD!</h3>
            <p class="info-paragraph">
              Whether you’re a casual shopper or a streetwear and sneaker enthusiast, SoleD provides you with the opportunity to acquire authentic shoes and apparel at prices below retail through our interactive auctions. 
            </p>
            <p class="info-paragraph">
              <b>Bid Small, Win Big, and Earn Rewards!</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/sample-images/walkthrough/walkthrough-illustration-2.svg'" [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20L64%200%20L64%2024%20Q56%2024%2048%2016%20Q34%200%2022%2010%20Q10%2022%200%208%20Z -->
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z"/>
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">How to Win</h3>
            <p class="info-paragraph">
              Winning is simple. You’ll purchase your bids before the auction begins. Throughout the auction, each time you use a bid, the item price increases $0.01 and the timer resets to 10 seconds. 
            </p>
            <p class="info-paragraph">
              <b>Be the highest bidder when the timer ends to win!</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="third-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:918, h:703}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/sample-images/walkthrough/walkthrough-illustration-3.svg'" [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20V5%20H5%20C19%205%2025%2014%2032%2014%20S45%205%2059%205%20H64%20V0%20Z -->
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 14" style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 V5 H5 C19 5 25 14 32 14 S45 5 59 5 H64 V0 Z"/>
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">Store</h3>
            <p class="info-paragraph">
              Need shoe storage containers to show off your growing collection? How about cleaner to freshen up those grails you just wore? Shop the SoleD Store for accessories and add-ons for your sneakers and streetwear.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="last-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:924, h:819}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/sample-images/walkthrough/walkthrough-illustration-4.svg'" [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20L64%200%20L64%2010%20Q56%2024%2046%2012%20Q34%200%2026%208%20Q10%2022%200%208%20Z -->
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 18" style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 10 Q56 24 46 12 Q34 0 26 8 Q10 22 0 8 Z"/>
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <ion-row class="info-outer">
            <ion-col>
              <div class="info-wrapper">
                <h3 class="info-title">Get Started</h3>
                <p class="info-paragraph">
                  Ready to get started? Sign up now, purchase bids and hop right into the action!
                </p>
              </div>
              <!--div class="legal-stuff">
                <p>By creating an account you agree to our <a class="legal-action" (click)="showPrivacyModal()">Privacy Policy</a> and <a class="legal-action" (click)="showTermsModal()">Terms of use</a>. </p>
              </div-->
            </ion-col>
            <ion-col class="call-to-actions-wrapper">
              <ion-button class="social-auth-btn facebook-auth-btn" color="facebook" expand="block" (click)="doGoogleSignup()">Log In with Facebook</ion-button>
              <p class="info-paragraph"> Legal Stuff</p>
              <ion-row class="alt-call-to-action-row">
                
                <!--ion-button class="social-auth-btn facebook-auth-btn" expand="block" color="facebook" (click)="doFacebookLogin()">Log In with Facebook</ion-button -->
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>
