// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);

  --page-highlighted-background: var(--ion-color-secondary-tint);
}

// new ux revamp


ion-toolbar {
  --background: #316dd0;
  color: #FFFFFF;
  padding-bottom: 250px;
  border-radius: 0 0 20% 20%;
}
ion-col {
  padding: 0;
}
ion-content {
  --background: #f6f6f6;
}
ion-card {
  margin-top: -180px;
  z-index: 50;
  padding: 6px;
  box-shadow: none;
  box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
  border-radius: 40px;
  overflow: visible;
  ion-avatar{
    --border-radius: 40%;
    margin: -60px auto auto auto;
    width: 150px;
    height: 150px;
  }
}
ion-item {
  border-radius: 14px;
  box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.08);
  ion-icon:first-of-type {
      background: #ed576b;
      color: #FFFFFF;
      padding: 4px;
      border-radius: 12px;
  }
  ion-icon:last-of-type {
      background: #316dd0;
      color: #FFFFFF;
      padding: 4px;
      border-radius: 12px;
  }
  ion-toggle{
    color: #316dd0;
    padding: 4px;
  }
}
