<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-card-content">
  <ion-row class="user-details-wrapper">
    <ion-col size="4">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="user-avatar" animation="spinner" [src]="'./assets/sample-images/notifications/karl.jpg'" [alt]="'notification image'"></app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-info-wrapper" size="8">
      <h2 class="user-name">Karl Henderson</h2>
      <h5 class="user-handle">100 Bids</h5>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">19K</span>
      <span class="user-stat-name">Points</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">11</span>
      <span class="user-stat-name">Purchases</span>
    </ion-col>
  </ion-row>
  <ion-row class="user-profile-container">
    
  </ion-row>

  <!--ion-row class="user-preferences-wrapper">
    <ion-col size="12">
      <h4 class="preference-name">Address</h4>
      <p class="preference-value">
        2516A E Denny Way
        Seattle, WA 98122
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Number</h4>
      <p class="preference-value">
        734-604-0823
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Buy Bids</h4>
      <p class="preference-value">
        link
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Order History</h4>
      <p class="preference-value">
        link
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Notifications</h4>
      <ion-toggle color="secondary" formControlName="notifications"></ion-toggle>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">About SoleD</h4>
      <p class="preference-value">
        link
      </p>
    </ion-col>
  </ion-row-->
</ion-content>
