<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="returnHome()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card class="ion-margin-bottom">
      <ion-avatar class="ion-align-items-center">
      <!-- <ion-img id="ProfilePic" [src]="'./assets/sample-images/notifications/karl.jpg'"></ion-img> -->
      <ion-img id="ProfilePic" src="{{profilePicSrc}}"></ion-img>
      </ion-avatar>
      <ion-card-content>
        <ion-row>
          <ion-col size="12" class="ion-text-center ion-margin-bottom">
            <ion-card-title id="ProfileName">User</ion-card-title>
            <ion-card-subtitle>10 Bids | 200 Points</ion-card-subtitle>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-button fill="clear" color="dark" routerLink="/details">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <!-- <ion-button fill="clear" color="dark" routerLink="/details"> -->
            <ion-button fill="clear" color="dark" (click)="logout()">
              <ion-icon slot="icon-only" name="card"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-button #first fill="clear" color="dark" (click)="pushNotificationsEnabled(first)">
              <ion-icon slot="icon-only" name="notifications"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <h6>Email</h6>
    <ion-item lines="none">
      <ion-icon name="mail-unread-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input placeholder="karl@appblitz.dev"></ion-input>
      </ion-label>
      <!--ion-icon name="chevron-forward" slot="end"></ion-icon-->
    </ion-item>
    <h6>Address</h6>
    <ion-item lines="none">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input placeholder="213 NE 8th"></ion-input>
      </ion-label>
      <!--ion-icon name="chevron-forward" slot="end"></ion-icon-->
    </ion-item>
    <h6>SoleD</h6>
    <ion-item class="learn-more" lines="none" (click)="launchAboutUsPage()">
      <!--ion-icon name="star-outline" slot="start"></ion-icon-->
      <ion-label>
        <p>Learn More</p>
      </ion-label>
      <ion-icon class="hidden" name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  </div>
</ion-content>
